body {
    font-family: 'Helvetica', sans-serif;
    color: #444;
    background-color: #f8f8f8;
}
h1 {
    color: #2a2a72;
}
article {
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 10px;
    margin: 20px 0;
}
h2 {
    color: #2a2a72;
}
p {
    font-size: 14px;
}
